<div class="container">
  <div class="detail">
    <div class="info">
      <div class="headimg">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1502715772358&di=5160312a7d7d2c3ef38eff0c138b4117&imgtype=jpg&src=http%3A%2F%2Fimg0.imgtn.bdimg.com%2Fit%2Fu%3D3758086872%2C4131499317%26fm%3D214%26gp%3D0.jpg">
      </div>
      <div class="detailBox">
        <div class="nameLevel">
          <span class="name">{{anchorDetail?.anchor?.nick}}</span>
          <p class="level">
            <span>LV{{anchorDetail?.anchor?.anchorlvl}}</span>
          </p>
        </div>
        <div class="id">id:{{anchorDetail?.anchor?.id}}</div>
      </div>
    </div>
    <div class="operator">
      <div class="box">
        <p>金币数：{{anchorDetail?.coin}}</p>
        <div [class.active]="!isFollow" class="follow active" (click)="doFollow(isFollow, anchorDetail?.anchor?.id)">
          {{ isFollow ? '取消关注' : '关注' }}
        </div>
      </div>
      <div class="shared">
        <span></span>
        <p>分享</p>
      </div>
    </div>
  </div>
  <div class="window">
    <div id="J_prismPlayer" class="prism-player"></div>
  </div>
</div>