<div class="container">
  <div class="liveBox">
    <div class="liveWrap">
      <div class="detail">
        <div class="info">
          <div class="headimg">
            <img src="{{profiles?.avatar}}">
          </div>
          <div class="detailBox">
            <div class="nameLevel">
              <span class="name">{{profiles?.nick}}</span>
              <p class="level">
                <span>LV{{profiles?.richlvl}}</span>
              </p>
            </div>
            <div class="id">id:{{profiles?.id}}</div>
            <p class="descript">{{profiles?.intro}}</p>
          </div>
        </div>
        <div class="operator">
          <div class="box">
            <p>金币数：{{profiles?.coin}}</p>
            <!-- 是主播 -->
            <div *ngIf="isAnchor" class="follow active" [style.background]="isAnchor?'#999':'#fe345e'">
              关注/退出直播
            </div>
            <!-- 是用户 -->
            <div *ngIf="!isAnchor" class="follow active">
              关注
            </div>
          </div>
          <div class="shared">
            <div class="toshow" (mouseenter)="showShare($event)" (mouseleave)="hideShare($event)">
              <span></span>
              <p>分享</p>
              <div class="sharedPanel">
                <div class="wrap">
                  <div class="sharedBody">
                    <div class="sharedTo">
                      <p>分享到</p>
                      <div class="shareQQ"></div>
                      <div class="shareXinlang"></div>
                    </div>
                    <div class="line"></div>
                    <div class="qrcode">
                      <p>微信扫描二维码</p>
                      <div class="code">
                      </div>
                    </div>
                  </div>
                  <div class="footer">
                    <input type="text" value="{{shareUrl}}">
                    <div class="copy" [attr.data-clipboard-text]="shareUrl" (click)="clipboradShare($event)">复制链接</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="window">
        <div class="box">
          <div id="J_prismPlayer" class="prism-player"></div>
        </div>
        <div class="startLiveLayer" *ngIf="startLivePanel && enterroomAnchor?.livestatus == 0">
          <div class="startLive">
            <div class="wrap">
              <div class="topbar">
                <p>开始直播</p>
                <span (click)="closeStartLive()"></span>
              </div>
              <div class="body">
                <form (ngSubmit)="onStartLive()">
                  <div class="titleBox">
                    <p>直播标题</p>
                    <textarea required [(ngModel)]="startLiveForm.title" maxlength="20" name="title" placeholder="请写下您的直播标题（不超过20个字）"></textarea>
                  </div>
                  <div class="topicBox">
                    <p>直播话题</p>
                    <span></span>
                    <select name="topic" id="" [(ngModel)]="startLiveForm.topic">
                      <ng-container *ngFor="let item of topic; let i = index">
                        <option [value]="item?.name">{{item?.name}}</option>
                      </ng-container>
                    </select>
                  </div>
                  <div class="coverBox">
                    <p>直播封面</p>
                    <div class="imgBox">
                      <!--  (change)="coverChange(file.files)" -->
                      <input type="file" id="startFileUpload" #file>
                      <img src="{{fileUploadImg?fileUploadImg:'/assets/img/comment_addimg.png'}}">
                    </div>
                  </div>
                  <input type="submit" value="开始直播">
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 弹幕滚动 -->
        <div class="barrageScroll" [ngStyle]="{'display': barrageSwitch?'block':'none'}">
          <ng-container #barrageScroll></ng-container>
        </div>
        <!-- 推送商品弹层 -->
        <div class="pushGoods" *ngIf="pubshGoodsValue">
          <div class="pushImgBox">
            <img src="{{pubshGoodsValue?.default_img}}">
          </div>
          <div class="pushdetail">
            <div class="title">{{pubshGoodsValue?.goods_name}}</div>
            <div class="pirce">&yen;{{pubshGoodsValue?.goods_price}}</div>
            <div class="send" [innerHTML]="'加入购物车'"></div>
          </div>
        </div>
        <div class="gift">
          <div class="swiper-container1">
            <div class="swiper-wrapper1">
              <!-- 赠送 -->
              <ng-container *ngFor="let item of averageGift">
                <div class="swiper-slide1">
                  <img src="/assets/img/bouquet@2x.png">
                  <div class="layerBox">
                    <div class="giftDetail">
                      <div class="giftImg">
                        <img src="/assets/img/bouquet@3x.png">
                      </div>
                      <div class="detail">
                        <div class="detailWrap">
                          <p class="name">{{item?.name}}</p>
                          <span class="silver">({{item?.coin}}银币)</span>
                        </div>
                        <div class="give" (click)="sendGift(anchor?.id, anchor?.id, item?.id, 1, 'live')">赠送</div>
                      </div>
                    </div>
                    <div class="temp"></div>
                  </div>
                </div>
              </ng-container>
              <!-- 高级赠送 -->
              <ng-container *ngFor="let item of advancedGift">
                <div class="swiper-slide1">
                  <img src="/assets/img/bouquet@2x.png">
                  <div class="layerBox">
                    <div class="giftDetail">
                      <div class="giftImg">
                        <img src="/assets/img/bouquet@3x.png">
                      </div>
                      <div class="detail">
                        <div class="detailWrap">
                          <p class="name">{{item?.name}}</p>
                          <span class="silver">({{item?.coin}}银币)</span>
                        </div>
                        <div class="give" (click)="sendGift(anchor?.id, anchor?.id, item?.id, 1, 'live')">赠送</div>
                      </div>
                    </div>
                    <div class="temp"></div>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>

          <div class="recharge">
            <p>银币 <span #lastcoins>{{profiles?.coin}}</span></p>
            <div class="button">充值</div>
          </div>

        </div>
      </div>

    </div>
    <div class="flag">
      <div class="tables">
        <div class="header">
          <div class="contribution active" appTabs="contribution">贡献榜</div>
          <div class="online" appTabs="online">在线人数</div>
          <div class="manager" appTabs="manager">管理员</div>
        </div>
        <div class="body">
          <div class="contribution active">
            <div class="conHeader">
              <div class="day active" appRankingTabs="day" (click)="getRankItems(1)">日榜</div>
              <div class="week" appRankingTabs="week" (click)="getRankItems(2)">周榜</div>
              <div class="month" appRankingTabs="month" (click)="getRankItems(3)">月榜</div>
              <div class="total" appRankingTabs="total" (click)="getRankItems(4)">总榜</div>
            </div>
            <div class="conBody" appShowRank>
              <div class="box">
                <div class="day active">
                  <div class="li">
                    <div class="imgBox">
                      <div class="img"></div>
                      <img src="{{rankDay && rankDay[1]?.avatar}}">
                    </div>
                    <p class="name">{{rankDay && rankDay[1]?.nick}}</p>
                    <div class="level">
                      <p>Lv{{rankDay && rankDay[1]?.richlvl}}</p>
                    </div>
                    <div class="wrap">
                      <p class="silver">{{rankDay && rankDay[1]?.value}}</p>
                      <span class="icon"></span>
                    </div>
                  </div>
                  <div class="li">
                    <div class="imgBox">
                      <div class="img"></div>
                      <img src="{{rankDay && rankDay[0]?.avatar}}">
                    </div>
                    <p class="name">{{rankDay && rankDay[0]?.nick}}</p>
                    <div class="level">
                      <p>Lv{{rankDay && rankDay[0]?.richlvl}}</p>
                    </div>
                    <div class="wrap">
                      <p class="silver">{{rankDay && rankDay[0]?.value}}</p>
                      <span class="icon"></span>
                    </div>
                  </div>
                  <div class="li">
                    <div class="imgBox">
                      <div class="img"></div>
                      <img src="{{rankDay && rankDay[2]?.avatar}}">
                    </div>
                    <p class="name">{{rankDay && rankDay[2]?.nick}}</p>
                    <div class="level">
                      <p>Lv{{rankDay && rankDay[2]?.richlvl}}</p>
                    </div>
                    <div class="wrap">
                      <p class="silver">{{rankDay && rankDay[2]?.value}}</p>
                      <span class="icon"></span>
                    </div>
                  </div>
                </div>
                <div class="week">2</div>
                <div class="month">3</div>
                <div class="total">4</div>
              </div>
              <div class="rankItem">
                <ng-container *ngFor="let item of rankNum; let i = index">

                  <div class="item">
                    <div class="left">
                      <div class="num">{{i + 1}}</div>
                      <div class="headimg">
                        <img src="{{item?.avatar}}">
                      </div>
                      <p class="name">{{item?.nick}}</p>
                      <div class="level">
                        <p>Lv{{item?.richlvl}}</p>
                      </div>
                    </div>
                    <div class="right">
                      <p class="silver">{{item?.value}}</p>
                      <span class="icon"></span>
                    </div>
                  </div>

                </ng-container>
              </div>
            </div>

          </div>
          <div class="online">
            <ng-container *ngFor="let item of onlines; let i = index">
              <div class="item">
                <div class="left">
                  <div class="num">{{i + 1}}</div>
                  <div class="headimg">
                    <img src="{{item?.avatar}}">
                  </div>
                  <p class="name">{{item?.nick}}</p>
                  <div class="level">
                    <p>Lv{{item?.richlvl}}</p>
                  </div>
                </div>
                <div class="right">
                  <p class="silver">{{item?.icons}}</p>
                  <span class="icon"></span>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="manager">
            <ng-container *ngFor="let item of admins; let i = index">
              <div class="item">
                <div class="left">
                  <div class="num">{{i + 1}}</div>
                  <div class="headimg">
                    <img src="{{item?.avatar}}">
                  </div>
                  <p class="name">{{item?.nick}}</p>
                  <div class="level">
                    <p>Lv{{item?.richlvl}}</p>
                  </div>
                </div>
                <div class="right">
                  <p class="silver">{{item?.icons}}</p>
                  <span class="icon"></span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="chatBox">
        <div class="getMessage">
          <div class="bulletin" #getMessage>公告：{{enterroom?.live_notice}}</div>
        </div>
        <div class="operator">
          <div class="col">
            <div class="operatorBox">
              <div class="emoji"></div>
              <div class="sms"></div>
              <div class="barrage" [appBarrageSwitch]="barrageSwitch" (barrage)="getBarrage($event)"></div>
            </div>
            <div class="limit">
              {{textAreNum}}/30
            </div>
          </div>
          <div class="messageBox">
            <textarea class="saveBarrage" (keyup)="saveBarrageNum(saveBarrage.value)" maxlength="30" #saveBarrage placeholder="来来来，话筒塞到他嘴里。请开始你的表演。"></textarea>
            <div class="sendBarrage" (click)="sendBarrage(saveBarrage.value)">
              发送
            </div>
          </div>
          <div class="spend">消耗1个银币</div>
        </div>
      </div>

    </div>
  </div>
  <div class="anchorStore">
    <p>我的店铺</p>
    <div class="shopBox">
      <ng-container *ngFor="let item of shouPushGoods">
        <div class="item">
          <div class="img">
            <img src="{{item?.default_img}}">
          </div>
          <div class="detail">
            <div class="title">{{item?.goods_name}}</div>
            <div class="pirce">&yen;{{item?.goods_price}}</div>
            <!-- <div class="send" [innerHTML]="'推送'" #shouPushGoods (click)="pushGoods(item?.goods_commonid, anchor?.id)"></div> -->
            <div class="send" [innerHTML]="'推送'" #shouPushGoods (click)="pushGoodsAnchor(item?.goods_commonid, anchor?.id, $event)"></div>
          </div>
        </div>
      </ng-container>
    </div>
    <p-paginator rows="{{itemsPerPage}}" totalRecords="{{totalRecords}}" first="{{offset}}" (onPageChange)="pageChanged($event)">
    </p-paginator>
  </div>
</div>