@import "../../../assets/scss.scss";
.container {
    margin: $auto0;
    padding-top: 20px;
    .liveBox {
        display: flex;
        justify-content: center;
        .liveWrap {
            margin-right: 10px;
            width: 1268px;
            .detail {
                display: flex;
                justify-content: space-between;
                height: 96px;
                background: $cf;
                .info {
                    display: flex;
                    justify-content: flex-start;
                    .headimg {
                        margin-right: 20px;
                        width: 96px;
                        height: 96px;
                        overflow: hidden;
                        img {
                            display: block;
                            width: 96px;
                        }
                    }
                    .detailBox {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .nameLevel {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            align-self: flex-start;
                            .name {
                                margin-right: 10px;
                                font-size: 28px;
                                font-weight: bold;
                            }
                            .level {
                                display: block;
                                width: 32px;
                                height: 16px;
                                background: #FF6600;
                                border-radius: 2px;
                                span {
                                    display: block;
                                    width: 28px;
                                    height: 12px;
                                    transform: scale(0.6);
                                    color: $cf;
                                }
                            }
                        }
                        .id {
                            align-self: flex-start;
                            color: $c9;
                        }
                        .descript {
                            align-self: flex-start;
                            color: $c9;
                        }
                    }
                }
                .operator {
                    padding-right: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    .box {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        p {
                            margin-right: 20px;
                            font-size: 14px;
                            color: $c9;
                        }
                        .follow {
                            font-size: 14px;
                            color: $cf;
                            width: 66px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 4px;
                            cursor: pointer;
                            &.active {
                                background: #fe345e;
                            }
                        }
                    }
                    .shared {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 100%;
                        color: $c9;
                        cursor: pointer;
                        span {
                            margin-right: 10px;
                            width: 20px;
                            height: 20px;
                            background: url(/assets/img/01icon_all.png);
                            background-position: -10px -394px;
                        }
                    }
                }
            }
            .window {
                position: relative;
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                width: 100%;
                .box {
                    height: 757px;
                }
                .startLiveLayer {
                    .startLive {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 99999;
                        margin: 153px auto 0;
                        margin-left: calc((100% - 445px) / 2);
                        width: 445px;
                        height: 450px;
                        background: rgba(255, 255, 255, 0.3);
                        .wrap {
                            display: flex;
                            flex-direction: column;
                            margin: 5px;
                            width: calc(100% - 10px);
                            height: calc(100% - 10px);
                            background: $cf;
                            .topbar {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 0 20px;
                                height: 42px;
                                background: #F7F7F7;
                                p {
                                    font-size: 14px;
                                }
                                span {
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background: url(/assets/img/01icon_all.png);
                                    background-position: -33px -394px;
                                }
                            }
                            .body {
                                padding: 0 30px;
                                .titleBox {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-top: 40px;
                                    p {
                                        margin-right: 5px;
                                    }
                                    textarea {
                                        padding: 5px;
                                        resize: none;
                                        width: 288px;
                                        height: 50px;
                                        border-radius: 4px;
                                    }
                                }
                                .topicBox {
                                    position: relative;
                                    display: flex;
                                    justify-content: space-between;
                                    margin-top: 40px;
                                    p {
                                        margin-right: 5px;
                                    }
                                    span {
                                        position: absolute;
                                        top: 0;
                                        right: 5px;
                                        z-index: 9999;
                                        display: block;
                                        width: 20px;
                                        height: 20px;
                                        background: url(/assets/img/01icon_all.png) no-repeat;
                                        background-position: -227px -684px;
                                    }
                                    select {
                                        -webkit-appearance: none;
                                        width: 300px;
                                        height: 30px;
                                        border-radius: 4px;
                                        text-indent: 10px;
                                        option {
                                            -webkit-appearance: none;
                                            display: block;
                                            padding: 10px;
                                            margin: 10px;
                                        }
                                    }
                                }
                                .coverBox {
                                    display: flex;
                                    justify-content: flex-start;
                                    margin-top: 40px;
                                    p {
                                        margin-right: 10px;
                                    }
                                    .imgBox {
                                        position: relative;
                                        input {
                                            position: absolute;
                                            -webkit-appearance: none;
                                            top: 0;
                                            left: 0;
                                            opacity: 0;
                                            width: 64px;
                                            height: 64px;
                                            cursor: pointer;
                                        }
                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            z-index: 999;
                                            display: block;
                                            width: 64px;
                                            height: 64px;
                                            cursor: pointer;
                                            pointer-events: none;
                                        }
                                    }
                                }
                                input[type="submit"] {
                                    margin-top: 90px;
                                    margin-left: calc((100% - 100px) / 2);
                                    width: 100px;
                                    height: 30px;
                                    border-radius: 4px;
                                    background: #fe345e;
                                    color: $cf;
                                    border: 0;
                                }
                            }
                        }
                    }
                }
                .barrageScroll {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 707px;
                    width: 100%;
                    z-index: 9999;
                    overflow: hidden;
                }
                .gift {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 10px 0 0;
                    height: 90px;
                    background: $cf;
                    .swiper-container1 {
                        position: relative;
                        align-items: center;
                        justify-content: flex-end;
                        display: flex;
                        margin-right: 0;
                        height: 55px;
                        line-height: 55px;
                        width: 100%; // overflow: hidden;
                        .swiper-wrapper1 {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            .swiper-slide1 {
                                position: relative;
                                margin: 0 5px;
                                width: 42px;
                                height: 42px;
                                img {
                                    display: block;
                                    width: 42px;
                                    border: 1px solid #ccc;
                                    border-radius: 4px;
                                    box-sizing: border-box;
                                }
                                .layerBox {
                                    display: none;
                                    padding: 12px;
                                    width: 216px;
                                    height: 98px;
                                    .giftDetail {
                                        display: flex;
                                        align-items: center;
                                        height: 96px;
                                        padding: 0 10px;
                                        background: $cf;
                                        border-radius: 4px;
                                        border: 1px solid #e1e1e1;
                                        .giftImg {
                                            margin-right: 10px;
                                            width: 62px;
                                            height: 62px;
                                            overflow: hidden;
                                            img {
                                                width: 62px;
                                            }
                                        }
                                        .detail {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: flex-start;
                                            .detailWrap {
                                                display: flex;
                                                .name {
                                                    font-size: 14px;
                                                }
                                                .silver {
                                                    color: #FF9B52;
                                                    font-size: 12px;
                                                }
                                            }
                                            .give {
                                                width: 46px;
                                                height: 20px;
                                                text-align: center;
                                                color: $cf;
                                                background: #FE345E;
                                                border-radius: 4px;
                                                line-height: 20px;
                                                font-size: 12px;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                    .temp {
                                        height: 13px;
                                    }
                                }
                                &:hover {
                                    width: 52px;
                                    height: 52px;
                                    img {
                                        width: 52px;
                                        border: 1px solid #e1e1e1;
                                    }
                                    .layerBox {
                                        display: block;
                                        position: absolute;
                                        top: -122px;
                                        right: -20px;
                                        z-index: 9999;
                                        &::after {
                                            content: '';
                                            position: absolute;
                                            top: 102px;
                                            right: 38px;
                                            width: 15px;
                                            height: 15px;
                                            background: $cf;
                                            transform: rotate(45deg);
                                            border-right: 1px solid #e1e1e1;
                                            border-bottom: 1px solid #e1e1e1;
                                        }
                                    }
                                }
                            }
                        }
                        .swiper-button-prev {
                            margin-top: -10px;
                            width: 20px;
                            height: 20px;
                            background: url(/assets/img/01icon_all.png);
                            background-position: -331px -394px;
                        }
                        .swiper-button-next {
                            margin-top: -10px;
                            width: 20px;
                            height: 20px;
                            background: url(/assets/img/01icon_all.png);
                            background-position: -349px -394px;
                        }
                    }
                    .recharge {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        p {
                            margin-right: 10px;
                            color: #fe345e;
                            font-size: 14px;
                        }
                        .button {
                            width: 57px;
                            height: 22px;
                            line-height: 22px;
                            border-radius: 4px;
                            background: #fe345e;
                            color: $cf;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .flag {
            width: 338px;
            border: 1px solid $cc;
            box-sizing: border-box;
            .tables {
                .header {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;
                    div {
                        width: 33.333333%;
                        height: 33px;
                        line-height: 33px;
                        text-align: center;
                        background: #EBEBEB;
                    }
                    .contribution,
                    .online,
                    .manager {
                        &.active {
                            background: $cf;
                        }
                    }
                }
                .body {
                    height: 182px;
                    .contribution,
                    .online,
                    .manager {
                        display: none;
                        &.active {
                            display: block;
                        }
                    }
                    .contribution {
                        position: relative;
                        .conHeader {
                            display: flex;
                            justify-content: space-around;
                            background: $cf;
                            cursor: pointer;
                            .day,
                            .week,
                            .month,
                            .total {
                                font-size: 13px;
                                height: 30px;
                                line-height: 30px;
                                box-sizing: border-box;
                                &.active {
                                    color: #fe345e;
                                    border-bottom: 2px solid #fe345e;
                                }
                            }
                        }
                        .conBody {
                            display: flex;
                            background: #FAFAFA;
                            .box {
                                width: 100%;
                                .day,
                                .week,
                                .month,
                                .total {
                                    display: none;
                                    margin: $auto0;
                                    width: 100%;
                                    .li {
                                        width: 33.3333333333%;
                                        float: left;
                                        .imgBox {
                                            position: relative;
                                            height: 88px;
                                            .img {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                height: 88px;
                                                z-index: 999;
                                                background: url(/assets/img/01icon_all.png);
                                            }
                                            img {
                                                position: absolute;
                                                display: block;
                                                z-index: 998;
                                                border-radius: 50px;
                                            }
                                        }
                                        .name {
                                            text-align: center;
                                        }
                                        .level {
                                            margin: $auto0;
                                            width: 26px;
                                            height: 12px;
                                            border-radius: 2px;
                                            text-align: center;
                                            color: $cf;
                                            background: #FF6600;
                                            p {
                                                transform: scale(0.75);
                                                font-size: 12px;
                                                line-height: 13px;
                                            }
                                        }
                                        .wrap {
                                            display: flex;
                                            align-items: center;
                                            padding: 5px 0;
                                            text-align: center;
                                            justify-content: center;
                                            .silver {
                                                margin-right: 5px;
                                                color: $c9;
                                            }
                                            .icon {
                                                width: 20px;
                                                height: 20px;
                                                background: url(/assets/img/01icon_all.png);
                                                background-position: -414px -13px;
                                            }
                                        }
                                        &:first-child {
                                            .imgBox {
                                                .img {
                                                    background-position: 5px -507px;
                                                }
                                                img {
                                                    width: 50px;
                                                    top: 31px;
                                                    left: 30px;
                                                }
                                            }
                                        }
                                        &:nth-child(2) {
                                            .imgBox {
                                                .img {
                                                    background-position: -98px -507px;
                                                }
                                                img {
                                                    width: 56px;
                                                    top: 23px;
                                                    left: 29px;
                                                }
                                            }
                                        }
                                        &:nth-child(3) {
                                            .imgBox {
                                                .img {
                                                    background-position: -201px -507px;
                                                }
                                                img {
                                                    width: 50px;
                                                    top: 31px;
                                                    left: 33px;
                                                }
                                            }
                                        }
                                    }
                                    &.active {
                                        display: block;
                                    }
                                }
                            }
                            .rankItem {
                                display: none;
                                position: absolute;
                                top: 182px;
                                left: 0;
                                height: 300px;
                                border-bottom: 1px solid #ccc;
                                box-sizing: border-box;
                                overflow-y: auto;
                                width: 100%;
                                background: #fff;
                                z-index: 9999;
                                &::-webkit-scrollbar {
                                    width: 2px;
                                    height: 2px;
                                    background-color: transparent;
                                }
                                &::-webkit-scrollbar-track {
                                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                                    border-radius: 10px;
                                    background-color: #F5F5F5;
                                }
                                &::-webkit-scrollbar-thumb {
                                    border-radius: 10px;
                                    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                                    background-color: #555;
                                }
                                .item {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 0 10px 10px;
                                    .left {
                                        display: flex;
                                        align-items: center;
                                        .num {
                                            margin-right: 10px;
                                            width: 16px;
                                            height: 16px;
                                            font-size: 12px;
                                            color: $cf;
                                            background: #E0E0E0;
                                            text-align: center;
                                        }
                                        .headimg {
                                            margin-right: 10px;
                                            width: 30px;
                                            height: 30px;
                                            overflow: hidden;
                                            border-radius: 50px;
                                            img {
                                                display: block;
                                                width: 30px;
                                            }
                                        }
                                        .name {
                                            margin-right: 10px;
                                            font-size: 14px;
                                        }
                                        .level {
                                            margin: $auto0;
                                            width: 26px;
                                            height: 12px;
                                            border-radius: 2px;
                                            text-align: center;
                                            color: $cf;
                                            background: #FF6600;
                                            p {
                                                transform: scale(0.75);
                                                font-size: 12px;
                                                line-height: 13px;
                                            }
                                        }
                                    }
                                    .right {
                                        display: flex;
                                        align-items: center;
                                        padding: 5px 0;
                                        text-align: center;
                                        justify-content: center;
                                        .silver {
                                            margin-right: 5px;
                                            color: $c9;
                                        }
                                        .icon {
                                            width: 20px;
                                            height: 20px;
                                            background: url(/assets/img/01icon_all.png);
                                            background-position: -414px -13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .online {
                        height: 182px;
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            width: 2px;
                            height: 2px;
                            background-color: transparent;
                        }
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                            border-radius: 10px;
                            background-color: #F5F5F5;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                            background-color: #555;
                        }
                        .item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 10px 10px;
                            .left {
                                display: flex;
                                align-items: center;
                                .num {
                                    margin-right: 10px;
                                    width: 16px;
                                    height: 16px;
                                    font-size: 12px;
                                    color: $cf;
                                    background: #E0E0E0;
                                    text-align: center;
                                }
                                .headimg {
                                    margin-right: 10px;
                                    width: 30px;
                                    height: 30px;
                                    overflow: hidden;
                                    border-radius: 50px;
                                    img {
                                        display: block;
                                        width: 30px;
                                    }
                                }
                                .name {
                                    margin-right: 10px;
                                    font-size: 14px;
                                }
                                .level {
                                    margin: $auto0;
                                    width: 26px;
                                    height: 12px;
                                    border-radius: 2px;
                                    text-align: center;
                                    color: $cf;
                                    background: #FF6600;
                                    p {
                                        transform: scale(0.75);
                                        font-size: 12px;
                                        line-height: 13px;
                                    }
                                }
                            }
                            .right {
                                display: flex;
                                align-items: center;
                                padding: 5px 0;
                                text-align: center;
                                justify-content: center;
                                .silver {
                                    margin-right: 5px;
                                    color: $c9;
                                }
                                .icon {
                                    width: 20px;
                                    height: 20px;
                                    background: url(/assets/img/01icon_all.png);
                                    background-position: -414px -13px;
                                }
                            }
                        }
                    }
                    .manager {
                        height: 182px;
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            width: 2px;
                            height: 2px;
                            background-color: transparent;
                        }
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                            border-radius: 10px;
                            background-color: #F5F5F5;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                            background-color: #555;
                        }
                        .item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 10px 10px;
                            .left {
                                display: flex;
                                align-items: center;
                                .num {
                                    margin-right: 10px;
                                    width: 16px;
                                    height: 16px;
                                    font-size: 12px;
                                    color: $cf;
                                    background: #E0E0E0;
                                    text-align: center;
                                }
                                .headimg {
                                    margin-right: 10px;
                                    width: 30px;
                                    height: 30px;
                                    overflow: hidden;
                                    border-radius: 50px;
                                    img {
                                        display: block;
                                        width: 30px;
                                    }
                                }
                                .name {
                                    margin-right: 10px;
                                    font-size: 14px;
                                }
                                .level {
                                    margin: $auto0;
                                    width: 26px;
                                    height: 12px;
                                    border-radius: 2px;
                                    text-align: center;
                                    color: $cf;
                                    background: #FF6600;
                                    p {
                                        transform: scale(0.75);
                                        font-size: 12px;
                                        line-height: 13px;
                                    }
                                }
                            }
                            .right {
                                display: flex;
                                align-items: center;
                                padding: 5px 0;
                                text-align: center;
                                justify-content: center;
                                .silver {
                                    margin-right: 5px;
                                    color: $c9;
                                }
                                .icon {
                                    width: 20px;
                                    height: 20px;
                                    background: url(/assets/img/01icon_all.png);
                                    background-position: -414px -13px;
                                }
                            }
                        }
                    }
                }
            }
            .chatBox {
                height: 748px;
                .getMessage {
                    position: relative;
                    padding-top: 20px;
                    height: 603px;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        width: 2px;
                        height: 2px;
                        background-color: transparent;
                    }
                    &::-moz-scrollbar {
                        width: 150px;
                    }
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        border-radius: 10px;
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                        background-color: #555;
                    }
                    .bulletin {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 0 10;
                        height: 20px;
                        color: #FE345E;
                        width: 100%;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    .item {
                        padding: 0 10px 10px;
                        .level {
                            display: inline-block;
                            width: 26px;
                            height: 12px;
                            line-height: 12px;
                            border-radius: 2px;
                            background: #FF6600;
                            span {
                                display: block;
                                font-size: 12px;
                                color: $cf;
                                transform: scale(0.75);
                            }
                        }
                        .name {
                            color: #5775C0;
                        }
                        .content {
                            word-break: break-all;
                            word-wrap: break-word;
                        }
                    }
                    .tips {
                        width: 100%;
                        height: 38px;
                        line-height: 38px;
                        color: #26A674;
                        text-indent: 10px;
                        background: url(/assets/img/room_live.png);
                    }
                }
                .operator {
                    padding: 10px;
                    height: 105px;
                    border-top: 1px solid $cc;
                    .col {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 28px;
                        .operatorBox {
                            display: flex;
                            .emoji {
                                margin-right: 15px;
                                width: 26px;
                                height: 26px;
                                background: url(/assets/img/01icon_all.png);
                                background-position: -160px -392px;
                                cursor: pointer;
                            }
                            .sms {
                                margin-right: 10px;
                                width: 26px;
                                height: 26px;
                                background: url(/assets/img/01icon_all.png);
                                background-position: -196px -392px;
                                cursor: pointer;
                            }
                            .barrage {
                                margin-right: 10px;
                                width: 47px;
                                height: 26px;
                                background: url(/assets/img/01icon_all.png);
                                background-position: -227px -392px;
                                cursor: pointer;
                            }
                        }
                        .limit {
                            font-size: 12px;
                            color: $c9;
                        }
                    }
                    .messageBox {
                        display: flex;
                        justify-content: flex-start;
                        margin: 10px 0 5px;
                        height: 52px;
                        cursor: pointer;
                        .saveBarrage {
                            padding: 6px;
                            width: 261px;
                            height: 52px;
                            border: 1px solid $c9;
                            border-right: 0;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                            box-sizing: border-box;
                            outline: 0;
                            resize: none;
                        }
                        .sendBarrage {
                            width: 52px;
                            height: 52px;
                            line-height: 52px;
                            text-align: center;
                            color: $cf;
                            background: #fe345e;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                    }
                    .spend {
                        color: #FF9B52;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .anchorStore {
        padding: 80px 0 40px;
        width: 1614px;
        margin: $auto0;
        p {
            display: block;
            font-size: 28px;
            color: #333;
        }
        .shopBox {
            display: flex;
            flex-wrap: wrap;
            padding: 40px 0;
            .item {
                display: flex;
                justify-content: flex-start;
                margin-right: 20px;
                margin-bottom: 20px;
                width: 388px;
                height: 130px;
                background: $cf;
                &:hover {
                    box-shadow: 0 1px 4px #ccc;
                }
                &:nth-child(4n) {
                    margin-right: 0;
                }
                .img {
                    margin-right: 10px;
                    width: 130px;
                    height: 130px;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 130px;
                    }
                }
                .detail {
                    width: 238px;
                    padding: 20px;
                    padding-left: 0;
                    .title {
                        font-size: 16px;
                    }
                    .pirce {
                        margin-top: 5px;
                        font-size: 14px;
                        color: #fe345e;
                    }
                    .send {
                        float: right;
                        width: 66px;
                        height: 26px;
                        line-height: 26px;
                        text-align: center;
                        border-radius: 4px;
                        font-size: 12px;
                        color: $cf;
                        background: #fe345e;
                    }
                }
            }
        }
    }
}