<div class="container">
  <div class="liveBox">
    <div class="liveWrap">
      <div class="detail">
        <div class="info">
          <div class="headimg">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1502715772358&di=5160312a7d7d2c3ef38eff0c138b4117&imgtype=jpg&src=http%3A%2F%2Fimg0.imgtn.bdimg.com%2Fit%2Fu%3D3758086872%2C4131499317%26fm%3D214%26gp%3D0.jpg">
          </div>
          <div class="detailBox">
            <div class="nameLevel">
              <span class="name">name</span>
              <p class="level">
                <span>LV34</span>
              </p>
            </div>
            <div class="id">id:123456789</div>
            <p class="descript">321</p>
          </div>
        </div>
        <div class="operator">
          <div class="box">
            <p>金币数：123456</p>
            <div class="follow active">
              关注
            </div>
          </div>
          <div class="shared">
            <span></span>
            <p>分享</p>
          </div>
        </div>
      </div>

      <div class="window">
        <div class="box">
          <div id="J_prismPlayer" class="prism-player"></div>
        </div>
        <div class="gift">
          <div class="swiper-container1">
            <div class="swiper-wrapper1">
              <div class="swiper-slide1">
                <img src="/assets/img/bouquet@2x.png">
                <div class="layerBox">
                  <div class="giftDetail">
                    <div class="giftImg">
                      <img src="/assets/img/bouquet@3x.png">
                    </div>
                    <div class="detail">
                      <div class="detailWrap">
                        <p class="name">小黄瓜</p>
                        <span class="silver">(999银币)</span>
                      </div>
                      <div class="give">
                        赠送
                      </div>
                    </div>
                  </div>
                  <div class="temp"></div>
                </div>
              </div>
              <div class="swiper-slide1">
                <img src="/assets/img/bouquet@2x.png">
                <div class="layerBox">
                  <div class="giftDetail">
                    <div class="giftImg">
                      <img src="/assets/img/bouquet@3x.png">
                    </div>
                    <div class="detail">
                      <div class="detailWrap">
                        <p class="name">小黄瓜</p>
                        <span class="silver">(999银币)</span>
                      </div>
                      <div class="give">
                        赠送
                      </div>
                    </div>
                  </div>
                  <div class="temp"></div>
                </div>
              </div>
              <div class="swiper-slide1">
                <img src="/assets/img/bouquet@2x.png">
                <div class="layerBox">
                  <div class="giftDetail">
                    <div class="giftImg">
                      <img src="/assets/img/bouquet@3x.png">
                    </div>
                    <div class="detail">
                      <div class="detailWrap">
                        <p class="name">小黄瓜</p>
                        <span class="silver">(999银币)</span>
                      </div>
                      <div class="give">
                        赠送
                      </div>
                    </div>
                  </div>
                  <div class="temp"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="recharge">
            <p>银币 123456</p>
            <div class="button">充值</div>
          </div>

        </div>
      </div>

    </div>
    <div class="flag">
      <div class="tables">
        <div class="header">
          <div class="contribution" appTabs="contribution">贡献榜</div>
          <div class="online" appTabs="online">在线人数</div>
          <div class="manager" appTabs="manager">管理员</div>
        </div>
        <div class="body">
          <div class="contribution">
            <div class="conHeader">
              <div class="day">1</div>
              <div class="week">2</div>
              <div class="month">3</div>
              <div class="total">4</div>
            </div>
            <div>
              
            </div>
          </div>
          <div class="online">
            在线人数
          </div>
          <div class="manager">
            管理员
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="anchorStore">

  </div>
</div>