<div class="container">
  <div class="operatorTitle">
    <div class="allSelect">
      <input type="checkbox">
      <span>全选（0）</span>
    </div>
    <div class="shopName">商品</div>
    <div class="shopRole"></div>
    <div class="shopPrice">单价</div>
    <div class="num">数量</div>
    <div class="operator">操作</div>
  </div>
  <ul>
    <li class="item">
      <div class="check">
        <input type="checkbox">
        <div class="headImg">
          <img src="">
        </div>
      </div>
      <div class="shopName">商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品</div>
      <div class="shopRole">颜色分类：颜色分类：颜色分类：颜色分类：颜色分类：颜色分类：颜色分类：</div>
      <div class="shopPrice">&yen;169.00</div>
      <div class="num">
        <div>-</div>
        <input type="text" value="1">
        <div>+</div>
      </div>
      <div class="operator">
        <div class="favo">移入收藏夹</div>
        <div class="delete">删除</div>
      </div>
    </li>
  </ul>
  <div class="count">
    <div class="left">
      <input type="checkbox" name="" id="">
      <span>全选</span>
      <div class="selectDelete">批量删除</div>
    </div>
    <div class="right">
      <div class="info">
        <div class="getCount">共<span>3</span>件</div>
        <div class="post">总计（不含运费）：<span>&yen;747.00</span></div>
      </div>
      <div class="account" (click)="goCartDetail()">结算</div>
    </div>
  </div>
</div>