:host {
    position: absolute;
    display: inline;
    width: 480px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    // p {
    //     position: absolute;
    //     text-align: left;
    //     color: #fff;
    // }
}