/* style */

$auto0: 0 auto;
$textCenter: center;

/* background */

$bg9: #999;
$bg3: #333;
$bgf5: #f5f5f5;

/* color */

$cf: #fff;
$c3: #333;
$c9: #999;
$cc: #ccc;
$e0: #e0e0e0;

/* width */

$w1200: 1200px;