<div class="bigBanner">
    <div class="box">
        <div class="living">
            <div id="J_prismPlayer" class="prism-player"></div>
        </div>
        <div class="agian">
            <!-- <ng-template *ngFor="let item of list">

            </ng-template> -->
        </div>
    </div>
</div>

<!-- 最新直播 -->
<div class="newLive">
    <div class="box">
        <div class="title">
            <span></span>
            <p>最新直播</p>
        </div>
        <div class="livebox">
            <!-- <ng-template *ngFor="let item of list">
                
            </ng-template> -->
            <a class="item" ><!-- IndexShow -->
                <div class="showLive">
                    <img src="">
                    <!-- 遮罩层 -->
                    <div class="liveLayer" *ngIf="0==0">
                        <span></span>
                    </div>
                </div>
                <div class="context">
                    <img src="">
                    <div class="act">
                        <p class="act_title">夏季夏季夏季夏季夏季夏季</p>
                        <div class="nameBox">
                            <p class="name">廖红东</p>
                            <div class="nameIcon">
                                <span class="name_icon"></span>
                                <p class="num">2.5万</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>

<div class="liveContainer">
    <div class="wrapLive">
        1
    </div>
    <div class="advertising">
        <!--广告-->
        2
    </div>
</div>